@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Great+Vibes&family=Ubuntu:wght@300&display=swap');

.our-nav-links {
  font-size: 22px;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 500;
}
.our-nav-links:hover{
  font-weight:800;
  color: gray
}
.my-nav-bar {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.bg-of-nav{
  background-image: linear-gradient(90deg,#DDF6F1, #ffffffdc)
}
.revire-logo{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 28px!important;
  color: rgb(8, 8, 90);
}